button{
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.primary{ 
    background-color: #f2d24e;
    border: none;
    font-weight: 700;
    
}

.primary:hover{
    background-color: yellow;
}

.secondary{
    background-color: transparent;
    border: 1px solid #f2d24e;
    color: #f2d24e;
}

.secondary:hover{
    opacity: 0.6;
}